mails.csv
ieee-sbm-exodus-2-4-oct_2020-09-30T141129.323322.html
ieee-sbm-ml-workshop-20-21-sept_2020-09-19T194641.095804.html

sendDiffAttachments/mailswithAttachments.csv
sendDiffAttachments/Certificate_AbhishekSrivastav.pdf
sendDiffAttachments/Certificate_DikshaKumari.pdf
sendDiffAttachments/ieee-sbm-MC-certidicate-2-4-oct_2020-09-30T141129.323322.html
